version: 1.0.{build}
cache: C:\Users\appveyor\.dnx\packages
before_build:
- cmd: dnu restore
build_script:
- cmd: dnu build
- cmd: dnu publish "\webapi" --out DeployPackage --configuration Release --runtime dnx-clr-win-x86.1.0.0-rc1-update1 --wwwroot-out "wwwroot" --quiet
artifacts:
- path: DeployPackage
  name: DeployPackage
build:
  verbosity: normal
